<div class="col-md-11 col-sm-11 col-xl-11 exre_detail">
	<div class="detail_info">
		<div class="col-md-12 col-xl-12 col-sm-12 one" style="margin-top: 25px;">
			<label class="person_one" for="project_name">项目名称：</label>
			<input type="text" class="person_one" name="" id="project_name" value="" placeholder="项目名称" style="width: 83%;">
		</div>
		<div class="col-md-12 col-xl-12 col-sm-12 one">
			<div class="col-md-6 col-xl-6 col-sm-6 one">
					<label class="person_one" for="working_up">开始时间：</label>
					<input type="date" class="person_one" name="" id="working_up" value="" style="width: 65%;">
				</div>
				<div class="col-md-6 col-xl-6 col-sm-6 one">
					<label class="person_one" for="working_end">结束时间：</label>
					<input type="date" class="person_one" name="" id="working_end" value="" style="width: 65%;">
				</div>
			</div>
			<div class="col-md-12 col-xl-12 col-sm-12 one">
				<label class="person_one" for="description">查看描述：</label>
				<input type="text" class="person_one" name="" id="description" value="" placeholder="查看描述" style="width: 83%;">
			</div>
			<div class="col-md-12 col-xl-12 col-sm-12 one">
				<label class="person_one" for="path">详细路径：</label>
				<input type="text" class="person_one" name="" id="path" value="" placeholder="详细路径" style="width: 83%;">
			</div>
			<div class="col-md-12 col-xl-12 col-sm-12 one">
				<label class="person_one" for="project_description">项目描述：</label>
				<input type="text" class="person_one" name="" id="project_description" value="" placeholder="项目描述" style="width: 83%;">
			</div>
		<div class="col-md-1 col-xl-1 col-sm-1 one add" style="width: 40%;">新增</div>
	</div>
</div>
<div class="col-md-1 col-sm-1 col-xl-1 cencal">
	<span class="fa fa-times fa-3 calcel" style="font-size: 30px;"></span>
</div>