<div class="col-md-11 col-sm-11 col-xl-11 detail">
	<div class="header_img">
		<img src="../../imgs/psu.jpg" class="img_header">
		<input type="file" name="" value="" id="uodate_img" style="display: none;">
	</div>
	<div class="detail_info">
		<label class="person_one" for="graduate_School">毕业院校</label>
		<input type="text" class="person_one" name="" id="graduate_School" value="北京交通大学海滨学院" placeholder="毕业院校">
		<label class="person_one" for="professional">专业名称</label>
		<input type="text" class="person_one" name="" id="professional" value="计算机软件工程专业" placeholder="专业名称">
		<label class="person_one" for="date">毕业日期</label>
		<input type="date" class="person_one" name="" id="date" value="2017-06-20" style="width: 67%;" placeholder="毕业日期">
		<label class="person_one" for="working">工作地点</label>
		<input type="text" class="person_one" name="" id="working" value="北京、海淀" placeholder="工作地点">
		<label class="person_one" for="job">职位名称</label>
		<input type="text" class="person_one" name="" id="job" value="Web前端中级工程师" placeholder="职位名称">
		<label class="person_one" for="company">就任公司</label>
		<input type="text" class="person_one" name="" id="company" value="暂时保密" placeholder="就任公司">
		<div class="put">提交</div>
	</div>
</div>
<div class="col-md-1 col-sm-1 col-xl-1 cencal">
	<span class="fa fa-times fa-3 calcel" style="font-size: 30px;"></span>
</div>